<head>
    <%- include("partials/notes") %>
</head>

<h1 class="mt-4">Reset Password <a href="/users/login" class="btn btn-secondary" style="background-color: #25D366; color: white; border: none; float: right;">Login</a> </h1>
<p class="lead mb-3">Welcome to our password recovery portal! <br>Take a look below and fill in your email address to get an email from us for your password recovery!

    <h1 class="text-center mb-3"><i class="fa fa-refresh" aria-hidden="true"></i>Password Recovery</h1>
    <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %> <% if(success_msg != ''){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error_msg != ''){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error != ''){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      
    <form action="/recovery" method="POST">
      <div class="form-group">
        <label for="email">Enter Your Email Below:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block" style="background-color: #25D366; color: white; border: none">Submit</button>
    </form>
 <p class="lead mt-4">
      No Account? <a href="/users/register">Register</a>
 </p>

<br><br>